@charset 'UTF-8';
.navigation{
    background-color: transparent;
    font-weight: 600;
    font-size: 38px;
    line-height: 42px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &> a{
        position: relative;
        transition: 0.5s;

      &:hover{
          color: #95a5a6;
      }

      &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
      }
      &.router-link-active {
          color: #95a5a6;
          position: relative;
      }

      &.router-link-active::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        width: 33px;
        height: 18px;
        background-image: url("../assets/images/bot_leaf.svg");
        background-size: cover;
      }

      &.router-link-active::after {
          transform: scaleX(1);
          transform-origin: left;
          content: '';
          position: absolute;
          top: -20px;
          left: 50%;
          right: 50%;
          transform: translateX(-50%);
          width: 33px;
          height: 18px;
          background-image: url("../assets/images/top_leaf.svg");
          background-size: cover;
      }
    }

    &__btn{
      width: 150px;
      background: #2E7A6C;
      border-radius: 50px;
      font-weight: 600;
      line-height: 25px;
    }
}