.blog-page{
  padding-top: 90px;
  &__banner{
    background-image: url("../assets/images/blog-back.svg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px !important;
  }
  &__title{
    font-weight: 600;
    font-size: 92px;
    line-height: 101px;
  }
  &__text{
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
  &__title-span{
    color: #3BC1AD;
  }
}