@charset 'UTF-8';
@import 'news-page';
@import 'blog-page';
@import 'about-page';

.index-page{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/images/background.svg");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    &__btn{
        background: linear-gradient(90deg, rgba(58,145,129,1) 0%, rgba(39,104,94,1) 100%);
        width: 350px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        font-weight: 400;
        font-size: 48px;
        line-height: 52px;
        height: 80px !important;
        min-height: 55px !important;
    }
    &__main-head{
        color: #3BC1AD;
        font-weight: 600;
        font-size: 92px;
        line-height: 101px;
    }
    &__head{
        color: #30A08F;
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
    }
}

