.news-page{
  height: 100vh;
  background-image: url("../assets/images/news-back.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  &__banner{
    width: 660px;
    height: 213px;
    font-weight: 600;
    font-size: 74px;
    line-height: 81px;
    color: #000000;
  }
  &__head{
    color:#2F9C8C;
  }
  &__btn{
    width: 276px;
    height: 75px;
    background: linear-gradient(90deg, #3A9181 0%, #27685E 100%);
    border-radius: 50px;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
  }
}